@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: max-content; } /* Adjust to match text length */
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}