.experience {
  padding: 10rem 9%;
}

.experience {
  background: var(--bg-color);
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
  margin: 0 auto;
}
.exp-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.experience-card {
  background: var(--second-bg-color);
  padding: 25px;
  border-radius: 12px;
  border: 1px solid rgba(39, 230, 244, 0.368);
  background: linear-gradient(45deg);
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-8px);
}

.experience-card h3 {
  font-size: 2rem;
  color: #0ef;
}

.company {
  display: block;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

.experience-card p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #ccc;
}
.proof {
  align-content: center;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(79, 109, 149);
  border-radius: 8px;
  border: 1px solid #0ef;
}
.proof div{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.5rem;
}
