@media (max-width: 1250px) {
  .home.about-section,
  .contact,
  .projects,
  .skills {
    padding: 3rem 3%;
  }
  .home-img img {
    height: 400px;
    width: 400px;
  }
  .experience-card {
    padding: 0;
  }
  .about-left {
    height: 50vw;
    width: 45vw;
  }
  .about-right {
    width: 95vw;
    padding: 1rem;
  }
  .about-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .project {
    padding: 1%;
  }
  .project_cnt{

  }
}

@media (max-width: 1000px) {
  .home,
  .about-section,
  .contact,
  .projects,
  .skills {
    padding: 3rem 1%;
  }
  .header {
    padding: 7px 1%;
    width: 100vw;
  }
  .navbar {
    display: none;
  }
  .home-content h3 {
    font-size: 2rem;
    font-weight: 300;
  }
  .home-content {
    margin-left: 3rem;
  }
  .home-content h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .home-img img {
    height: 300px;
    width: 300px;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
    .about-header-div>h2{
        font-size: 3rem;
    }
  .home {
    flex-direction: column;
    padding: 5rem 1rem;
  }
  .home-img img {
    height: 100%;
    width: 100%;
  }
  .home-img {
    padding: 1rem 0;
    height: 30vh;
    width: 50vw;
  }
  .home-content {
    width: 95%;
  }
}

@media (max-width: 720px) {
    .about-left-container{
        padding: 13px;
    }
  .contact-container {
    flex-direction: row;
  }
}

@media (max-width:600px){
    .about-left{
        height: 30vh;
        width: 90vw;
    }
}
